
body {
  font-family: Arial, sans-serif;
  font-style: italic;
  margin: 0;
  padding: 0;
  background-color: bisque;
  color: black;
}

/* Heading 


h1, h2, h3, {
  text-align: center;
  margin: 10px 0;
}

/* Counter buttons */
button {
  padding: 10px 20px;
  margin: 10px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: sandybrown;
  color: black;
  margin-right: 20px;
}

button:hover {
  background-color: skyblue;
}

/* Input styling */
input {
  display: block;
  margin: 10px auto;
  padding: 8px 12px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #ccc;
  text-align: center;
  background-color: skyblue;
  color: #000;
}

/* Age container */
div h2 {
  margin-top: 20px;
}

/* Dark and Light mode */
.dark {
  background-color: #1a1a1a;
  color: #f0f0f0;
  padding: 20px;
  margin: 20px auto;
  width: 300px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0px 0px 10px #000;
}

.light {
  background-color: #ffffff;
  color: #333333;
  padding: 20px;
  margin: 20px auto;
  width: 300px;
  border-radius: 12px;
  text-align: center;

}
